* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make body a flex container to center the .container box */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.container {
  background-color: gray;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* -------- Form Styling -------- */
.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form label {
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.form input:focus {
  border: 2px solid #ff9900;
}

button {
  align-content: center;
  margin-top: 50px;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: medium;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(168, 168, 180);
  color: #000;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(36, 85, 56, 0.007);
}